*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
data
tensorboard_3d
**/__pycache__/
events.out*
ckpt
release

# 大数据/产物目录 (科研备份排除, 切勿提交)
dataset/
ckpts/
eval_result/
output_backup/

# 日志
*.log
